@import 'custom.scss';
.mainAuthContainer{
    height: 80vh;
    .formContainer{
        box-shadow: 4px 8px 4px black;
        .authButton{
            border-radius: 10px;
            background-color: $secondary;
            &:hover{
                background-color: white;
                color: black;
            }
        }
        .authInput{
            outline: none;
        }
    }
}