@import './custom.scss';
.searchBar{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    text-align: center;
    font-size: 25px;
    border: 2px solid $secondary;
    outline: none;
}
.searchBtn{
    border-radius: 10px;
    border: 1px solid black;
    background-color: $primary;
    color: $text-color;
    &:hover{
        background-color: $primary;
    }
}

.champRot{
    animation: zoomIn;
    animation-duration: 1s;
}

.summonerContainer {
  box-shadow: 4px 8px 4px black;
  border-radius: 10px;
}

.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}

@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

