@import url("https://fonts.googleapis.com/css2?family=Alice&family=Big+Shoulders+Stencil+Display&family=Cormorant+SC:wght@300&family=Playfair+Display&family=Raleway:ital@1&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Alice", serif;
}

body,
html {
  background-color: rgb(14, 14, 148);
  margin: 0;
  font-family: "Alice", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Alice", serif;
}
